.Circuit-container{
    margin-top: 1em;
    padding-bottom: 1em;
    border: solid .5px #1A74A3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "header header header header"
                        ". set-time set-time  ."
                        ". exercise exercise ."
                        ". new-exercise new-exercise ."
                        
}

.Circuit-title{
    grid-area: header;
}

.Circuit-timer{
  grid-area: set-time;
}

.Cuircuit-new-form{
    margin-top: 10px; 
    grid-area: new-exercise;
}

.Circuit-exercise-display{
    grid-area: exercise;
}

.Circuit-exercise-display li{
    margin-top: 1em;
    text-align: center;
    font-weight: 500;
    
}